<p>
    Потребность в бытовых помещениях
</p>

<table>
		<tr>
			<td>Наименование</td>
			<td >Норма  на 1-го работающего в максим. смену м2</td>
			<td >Количество работающих в максимальную смену, чел.</td>
			<td >Количество рабочих в макси-мальную смену, чел.</td>
			<td >Общая потребность м2</td>
		</tr>
		<tr>
			<td colspan="5"> 1.Административные здания.</td>
		</tr>
		<tr>
			<td class="tdLeft">Прорабская</td>
			<td >4</td>
			<td ></td>
			<td >-</td>
			<td ></td>
		</tr>
		<tr>
			<td class="tdLeft">Диспетчерская</td>
			<td >7</td>
			<td >1</td>
			<td >-</td>
			<td >7.0</td>
		</tr>
		<tr>
			<td colspan="5">II. Бытовые помещения</td>
		</tr>
		<tr>
			<td class="tdLeft">Гардеробная</td>
			<td >0,6</td>
			<td >-</td>
			<td ></td>
			<td ></td>
		</tr>
		<tr>
			<td class="tdLeft">Душевая (1 сетка на 15 чел.)</td>
			<td >0,287</td>
			<td >-</td>
			<td ></td>
			<td ></td>
		</tr>
		<tr>
			<td class="tdLeft">Умывальная (1 кран на 20 чел.)</td>
			<td >0,065</td>
			<td ></td>
			<td >-</td>
			<td ></td>
		</tr>
		<tr>
			<td class="tdLeft">Сушилка (не менее 4 м2)</td>
			<td >0,15</td>
			<td >-</td>
			<td ></td>
			<td ></td>
		</tr>
		<tr>
			<td class="tdLeft">Помещение для приема пищи (не менее 12 м2)</td>
			<td >0,25</td>
			<td ></td>
			<td >-</td>
			<td ></td>
		</tr>
		<tr>
			<td class="tdLeft">Помещение для обогрева рабочих(не менее 8 м2)</td>
			<td >0,1</td>
			<td >-</td>
			<td ></td>
			<td ></td>
		</tr>
		<tr>   
			<td class="tdLeft">Уборная</td>
			<td >0,1</td>
			<td ></td>
			<td >-</td>
			<td ></td>
		</tr>
	</table>