<p>
  calculation-energy-resources works!
</p>



<br>
<section>
    <ko-stage #stage [config]="configStage">
        <ko-layer #layer>
            <ko-star *ngFor="let item of list"
            [config]="item">
            </ko-star>
        </ko-layer>
        <!-- <ko-layer #dragLayer></ko-layer> -->
    </ko-stage>
    <br>
</section>








<buttoN (click)="clear()">claer</buttoN>
<buttoN (click)="drawFF()">drawFF</buttoN>
<buttoN (click)="save()">save</buttoN>
<buttoN (click)="past()">past</buttoN>

