
<div class="container-fluid">
  <div class="row">

    <div class="col-md-7">
      <mat-form-field class="example-full-width">
        <textarea matInput placeholder="Наименование объекта"></textarea>
      </mat-form-field>
    </div>
    <div class="col-md-3 offset-md-2">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Номер объекта" value="Sushi">
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <app-date-year-month (updateDate)="changeDateStartBuilding($event)"></app-date-year-month>
    </div>
    <div class="col-md-3">
        <mat-form-field class="example-full-width">
            <input matInput type="number" placeholder="Продолжительность строительства" (change)="changeLastingBuilding($event.target.value)">
          </mat-form-field>
      </div>
  </div>

  <!-- <div class="row">
    <div class="col-md-12">
        <app-table-kalendar></app-table-kalendar> 
    </div>
  </div> -->
  <button (click) = "onClick()">Click</button>
  <mat-tab-group  (selectedTabChange)="changeTabs($event)">
      <mat-tab label="Календарный план"> <app-table-kalendar #kalendar></app-table-kalendar></mat-tab>
      <mat-tab label="строителей"> <app-calculation-workers></app-calculation-workers> </mat-tab>
      <mat-tab label="Third"> <app-calculation-storehouse></app-calculation-storehouse> </mat-tab>
      <mat-tab label="Third"> <app-calculation-energy-resources></app-calculation-energy-resources> </mat-tab>


    </mat-tab-group>

</div>


<!-- <mat-form-field class="col-md-2">
    <input matInput placeholder="Номе р объекта" value="Sushi">
</mat-form-field> -->
