<p>
  main-info works!
</p>


<input  placeholder="Дата начало строительства" >
<p>
  main-info works!
</p>

<mat-form-field class="example-full-width">
  <input matInput placeholder="Номер объекта" value="Sushi">
</mat-form-field>

<mat-form-field class="example-full-width">
  <textarea matInput placeholder="Наименование объекта"></textarea>
</mat-form-field>

<app-date-year-month (updateDate)="changeDateStartBuilding($event)"></app-date-year-month>

<mat-form-field class="example-full-width">
  <input matInput type="number" placeholder="Продолжительность строительства" (change)="changeLastingBuilding($event.target.value)">
</mat-form-field>



<app-table-kalendar></app-table-kalendar>