<p>
    Календарный план строительства
</p>

<div class="container-fluid">
  <div class="row">



    <table class="table-bordered">
      <thead>
        <tr>
          <th rowspan="3" class="numberPP">
            <span>№
              <br>п/п</span>
          </th>
          <th rowspan="3" class="tabName">
            <span>Наименование объектов и водов работ</span>
          </th>
          <th rowspan="1" colspan="2">
            <span>Сметная стоимость тыс.руб.</span>
          </th>
          <th rowspan="1" [colSpan]="arrMonth.length" class="" *ngIf="arrMonth.length">
            <span>Распределение капвложений по периодам строительства</span>
          </th>
        </tr>
        <tr>
          <th rowspan="2">
            <span>Всего</span>
          </th>
          <th rowspan="2">
            <span>СМР</span>
          </th>
          <th rowspan="1" [colSpan]="obj.coldspan" class="" *ngFor="let obj of arrMonth | yearsColdspan">
            <span>{{obj.year}}</span>
          </th>
        </tr>
        <tr >
          <th rowspan="1" colspan="1" *ngFor="let month of arrMonth">
            <span>{{ month.slice(0, -4)}}</span>
          </th>
        </tr>

      </thead>
      <tbody>
        <tr class="hoverRow" *ngFor="let row of table; let i = index;">
          <td class="noSelect" (dragover)="allowDrop($event)">{{i+1}}</td>
          <td class="nameCol" draggable="true" (drop)="drop($event, i)" (dragover)="allowDrop($event)" (dragstart)="drag($event, i)">
            <app-edit-cell-table [(value)]="row.name" (updateValue)="this.row.name=$event">
            </app-edit-cell-table>
          </td>
          <td >
            <app-edit-cell-table [(value)]="row.Total" (updateValue)="this.row.Total=$event; calcColumnTotal('Total');">
            </app-edit-cell-table>
          </td>
          <td >
            <app-edit-cell-table [(value)]="row.CMP" (updateValue)="this.row.CMP=$event; calcColumnTotal('CMP');">
            </app-edit-cell-table>
          </td>

          <td  *ngFor="let month of arrMonth">
            <app-edit-cell-table [(value)]="row[month]" (updateValue)="calculateCellRow(this.row, month, $event);">
            </app-edit-cell-table>
          </td>

          <!-- <td *ngFor="let row of table "><app-table-input [(value)]="row[key]" (updateValue)="this.row[key] = $event"></app-table-input></td> -->
        </tr>
        <tr class="hoverRow">
          <td class=""></td>
          <td>
            Распределение капвложений по месяцам
          </td>
          <td>
            {{this.percentRow.calcPercent()}}%
          </td>
          <td>
            {{this.percentRow.calcPercent()}}%
          </td>
          <td class="" *ngFor="let month of arrMonth">
            <app-edit-cell-table [(value)]="percentRow[month]" (updateValue)="this.percentRow[month] = $event"></app-edit-cell-table>
          </td>
        </tr>

      </tbody>
    </table>


  </div>
</div>


<!-- <div class="container-fluid">
  <div class="row align-items-center">


    <div class="col-md-4 align-self-center">
      <button mat-raised-button (click)="addRow()">AddRow</button>
    </div>
    <div class="col-md-4 align-self-center">
      <button mat-raised-button (click)="calculate()">Calculate</button>
    </div>
    <div class="col-md-4 align-self-center">
      <i class="material-icons md-48" (drop)="dropBasket($event)" (dragover)="allowDrop($event)">delete_forever</i>
    </div>


  </div>
</div> -->

<mat-grid-list cols="4" rowHeight="50px">
    <mat-grid-tile>
        <button mat-raised-button (click)="addRow()">AddRow</button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-raised-button (click)="addTotalRow()">addTotalRow</button>
  </mat-grid-tile>
    <mat-grid-tile>
        <button mat-raised-button (click)="calculate()">Calculate</button>
    </mat-grid-tile>
    <mat-grid-tile>
        <i class="material-icons md-48" (drop)="dropBasket($event)" (dragover)="allowDrop($event)">delete_forever</i>
    </mat-grid-tile>
  </mat-grid-list>




<!-- <p>
  <button (click)="clickOn()">ClickOn</button>
</p>

 -->



<!-- <p>
  {{table | json}}
</p> -->