<p>
  calculation-workers works!
</p>

<div class="container-fluid">
  <div class="row">



    <table class="table-bordered">
      <thead>
        <tr>
          <th>Наименование</th>
          <th>Ед.измерен.</th>
          <th>Количество на период строительства</th>
        </tr>
      </thead>

      <tbody>
      <tr>
          <td class="tdLeft">Трудоемкость работ по сводному сметному расчету</td>
          <td> чел-час. </td>
          <td>
              <app-edit-cell-table [(value)]="workCapacity" (updateValue)="calculateTable($event)">
                </app-edit-cell-table>
          </td>
        </tr>      
        <tr>
          <td class="tdLeft"> Кол-во работающих, (Тч-час:8час:{{lastingBuilding}}мес:22дн)</td>
          <td> чел </td>
          <td> {{(workCapacity/(8*lastingBuilding*22))}}</td>
        </tr>
        <tr>
          <td class="tdLeft"> в т.ч. рабочих,</td>
          <td> чел </td>
          <td> 0 </td>
        </tr>
        <tr>
          <td class="tdLeft"> ИТР и МОП /15,5% от общего количества </td>
          <td> чел </td>
          <td> 0 </td>
        </tr>
      </tbody>

    </table>

  </div>
</div>

<div class="col-md-7 col-sm-10 col-sm-offset-1">
    <p>-число  рабочих на объекте в наиболее многочисленную смену составляет 70% от обще-го количества, т.е. {{22}} чел.</p>
    <p>-число ИТР, служащих и МОП в наиболее многочисленную смену составляет 80% от их общего количества, т.е. {{22}} чел.</p>
    <p>-количество работающих на объекте строителей в наиболее многочисленную смену составит ({{22}} + {{2}}x0,5) = {{22}} чел. </p>
</div>


<!-- <div class="row">
<div class="col-md-7 col-sm-10 col-sm-offset-1">
<table class="table table-bordered table-hover typicalTab">
<tr>
<td>Наименование</td>
<td >Ед.измерен.</td>
<td >Количество на период строительства</td>
</tr>
<tr>
<td class="tdLeft">
Трудоемкость работ по сводному сметному расчету
</td>
<td >
чел-час.
</td>
<td>
<text-tablval  text="workCapacity" key=""></text-tablval></td>
</tr>
<tr>
<td class="tdLeft">
Кол-во работающих,  (Тч-час:8час:{{timeBuilding}}мес:22дн)
</td>
<td >
чел
</td>
<td >{{ObjWorkTabl.sumWorking}}</td>
</tr>
<tr>
<td class="tdLeft">
в т.ч. рабочих,
</td>
<td >
чел
</td>
<td >{{ObjWorkTabl.working}}</td>
</tr>
<tr>
<td class="tdLeft">
ИТР и МОП /15,5% от общего количества/
</td>
<td >
чел
</td>
<td >{{ObjWorkTabl.ITR}}</td>
</tr>

</table>

</div>
</div>
<div class="col-sm-5">
<p></p>
</div>
</div>
<div class="row">
<div class="col-md-7 col-sm-10 col-sm-offset-1">
<p>-число  рабочих на объекте в наиболее многочисленную смену составляет 70% от обще-го количества, т.е. {{ObjWorkTabl.workingInTheShift}} чел.</p>
<p>-число ИТР, служащих и МОП в наиболее многочисленную смену составляет 80% от их общего количества, т.е. {{ObjWorkTabl.ITRInTheShift}} чел.</p>
<p>-количество работающих на объекте строителей в наиболее многочисленную смену составит ({{ObjWorkTabl.workingInTheShift}} + {{ObjWorkTabl.ITRInTheShift}}x0,5) = {{ObjWorkTabl.sumInTheShift}} чел. </p>
</div>
</div> -->